.landing-page {
    background-image: url('../assets/background_1.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 2px black;
  }
  
  .landing-logo {
    max-width: 800px;
    height: auto;
    margin-bottom: 20px;
  }
  
  .landing-page button {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .landing-page .primary {
    background-color: #FF8640 !important;
    color: #fff !important;
  }
  
  .landing-page .primary:hover {
    background-color: #e07b36 !important;
  }
  
  .landing-page .secondary {
    background-color: #471B94 !important;
    color: #fff !important;
  }
  
  .landing-page .secondary:hover {
    background-color: #3c176c !important;
  }